@charset "utf-8";

body {
  width: 100%;
  margin: 0;
  font-family: 'Sawarabi Gothic', sans-serif;
  font-size: 0.9rem;
  color:#212121;
  background: #e3c4a8;
}

a {
  text-decoration: none;
  color:#212121;
}


ul {
  margin-left: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  width: 100%;
}



header {
  max-width: 100%;
  height: 12vh;
  padding: 0 2%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
  background: linear-gradient(#fce6d4ba, #1c1a180c);
}

.logo {
  width: 100px;
}

.main-logo img {
  filter: drop-shadow( 0px 0px 2.7px #fce6d4ba);
}

.header-nav-pc {
  display: flex;
  gap: 48px;
  margin-top: 4.5vh;
}

.juwaa {
  font-family: 'Pacifico', cursive;
  top: -2px;
}

.header-nav-pc li a {
  position: relative;
}

.header-nav-pc li a:hover::after {
  content: "";
  width: 110%;
  height: 1px;
  position: absolute;
  bottom: -3px;
  left: -5%;
  background: #212121;
  transition: .5s ease;
  visibility: visible;
  opacity: 1;
}

.header-nav-pc li a::after {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  bottom: -3px;
  left: -5%;
  background: #212121;
  transition: .5s;
  visibility: hidden;
  opacity: 0;
}

.hamburger-menu-sp,
.toggle_btn,
.mask {
  display: none;
}





main {
  margin: 0 auto;
  text-align: center;
}

.contents {
  position: relative;
  top: 50vh;
  left: 0;
  z-index: 20;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 2% 60px;
}

.section-title {
  margin: 50px 0 60px;
  text-align: center;
  position: relative;
}

h2 {
  font-size: 1.8rem;

}

small {
  position: absolute;
  bottom: -12px;
  left: 0;
  right: 0;
}

.section-title img {
  width: 100px;
  vertical-align: -5px;
}

.cp-1 {
  font-size: 1.1rem;
  margin: 0;
  line-height: 1.1rem;
}

.cp-2 {
  font-size: 1.1rem;
  margin: 0.9rem 0 0;
}






.news-background {
  max-width : 1000px;
  margin: 0 auto;
  position: relative;
  z-index: -10;
}

.news-background img {
  min-width: 600px;
  position: absolute;
  top: -7vh;
  left: -1vw;
  overflow: hidden;
}

.news-contents {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.news-contents li a:hover{
  opacity: .7;
}

.news-img {
  max-width: 230px;
  height: 150px;
}

.news-img img {
  height: 100%;
  object-fit: cover;
}

.news-text {
  text-align: left;
  font-size: 0.75rem;
  margin-top: 4px;
}

.news-text p {
  margin: 0;
}

.view-more-btn {
  text-align: right;
  position: relative;
}

.view-more {
  display: inline-block;
  width: 120px;
  padding-bottom: 12px;
  text-align: left;
  font-size: 0.875rem;
  color: #FFF;
  font-weight: bold;
  transition: ease .5s;
}

.view-more-btn::before {
  content: "";
  width: 140px;
  height: 1px;
  background: #FFF;
  position: absolute;
  bottom: 0;
  right: 0;
}

.view-more-btn::after {
  content: "";
  width: 15px;
  height: 1.5px;
  position: absolute;
  bottom: 0px;
  right: 0;
  background: #FFF;
  transform: rotate(45deg) translate( -2px, -5px);
}

.view-more:hover {
  transform: scale(1.1);
  transition: ease-in .5s;
}








.introduction-layout {
  display: flex;
}

.introduction-left {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.introduction-right {
  width: 80%;
  padding-top: 25%;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.introduction {
  width: 100%;
  height: 300px;
  display: flex;
  gap: 30px;
}

.introduction p {
  font-size: 1.3rem;
  writing-mode: vertical-rl;
  margin: 0;
  padding: 1em 7px;
  height: max-content;
  border: 1px solid #212121;
  background: #fce6d4ba;
}

.fluid {
  max-width:300px;
  overflow: hidden;
}

.fluid-1 {
  animation: fluid-rotate-1 15s linear 0s infinite;
}

@keyframes fluid-rotate-1 {  

  0%, 100%{
    border-radius: 49% 51% 46% 54% / 55% 56% 44% 45% ;
  }
  20%, 60%{
    border-radius: 39% 61% 58% 42% / 44% 46% 54% 56% ;
  }
  40% {
    border-radius: 37% 63% 61% 39% / 48% 45% 55% 52% ;
  }
  80% {
    border-radius: 50% 50% 39% 61% / 56% 58% 42% 44% ;
  }
}

.fluid-2 {
  animation: fluid-rotate-2 15s ease 0s infinite;
}

@keyframes fluid-rotate-2 {  

  0%, 100%{
    border-radius: 37% 63% 61% 39% / 48% 45% 55% 52% ;
  }
  20%, 60%{
    border-radius: 50% 50% 39% 61% / 56% 58% 42% 44% ;
  }
  40% {
    border-radius: 49% 51% 46% 54% / 55% 56% 44% 45% ;
  }
  80% {
    border-radius: 39% 61% 58% 42% / 44% 46% 54% 56% ;
  }
}

.fluid-3 {
  animation: fluid-rotate-3 15s ease 0s infinite;
}

@keyframes fluid-rotate-3 {  
  
  0%, 100%{
    border-radius: 39% 61% 58% 42% / 44% 46% 54% 56% ;
  }
  20%, 60%{
  border-radius: 49% 51% 46% 54% / 55% 56% 44% 45% ;
  }
  40% {
    border-radius: 50% 50% 39% 61% / 56% 58% 42% 44% ;
  }
  80% {
    border-radius: 37% 63% 61% 39% / 48% 45% 55% 52% ;
  }
}

.fluid-4 {
  animation: fluid-rotate-4 15s ease 0s infinite;
}

@keyframes fluid-rotate-4 {  

  0%, 100%{
    border-radius: 50% 50% 39% 61% / 56% 58% 42% 44% ;
  }
  20%, 60%{
    border-radius: 37% 63% 61% 39% / 48% 45% 55% 52% ;
  }
  40% {
    border-radius: 39% 61% 58% 42% / 44% 46% 54% 56% ;
  }
  80% {
    border-radius: 49% 51% 46% 54% / 55% 56% 44% 45% ;
  }
}


.fluid img {
  height: 100%;
  object-fit: cover;
}

.fluid-left p{
  margin-left: 0;
}

.fluid-right {
  margin: 0 0 0 auto;
}

.fluid-right p {
  margin-right: 0;
}






#faq {
  padding-top: 30px;
  background: #4593af;
}

.faq-accordion-area{
  text-align: left;
}

.faq-accordion-area li{
  margin-bottom: 15px;
  /* padding-left:50px; */
}

.faq-accordion-area section {
  padding-left:50px;
  background: #FFF;
  border-radius: 15px;
  border: 1px solid transparent;
}

.faq-title {
  position: relative;
  cursor: pointer;
  font-size: 0.9rem;
  padding-right: 50px;
  transition: all .5s ease;
}

.faq-title::before,
.faq-title::after {
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: #212121;
  content:'';
  top:48%;
  right: 15px;
  transition: ease-in .7s;
}
.faq-title::before{
  transform: rotate(0deg);
  transition: ease-out .7s;

}
.faq-title::after{
  transform: rotate(90deg);
  transition: ease-out .7s;
}
.faq-title.close::before{
  transform: rotate(45deg);
}

.faq-title.close::after{
  transform: rotate(-45deg);
}

.faq-text {
  display: none;
  padding: 10px 0;
  margin-right: 40px;
  position: relative;
  border-top: 1px solid #73737330;
}

.faq-q {
  font-size: 1.4rem;
  font-weight: bold;
  position: absolute;
  top: -8px;
  left: -2rem;
}




footer {
  background: #4593af;
  padding-top: 30px;
}

.footer-logo {
  width: 100px;
  margin-left: 8px;
  margin-bottom: 10px;
}

.footer {
  margin: 0 auto;
}

.footer-nav {
  margin: 15px 0 30px;
  display: flex;
  gap: 30px;
  justify-content: center;
  overflow: scroll;
}

.footer-nav li a:hover {
  opacity: .6;
}

.footer-text {
  display: flex;
  gap: 30px;
  text-align: left;
  align-items: flex-end;
}

.address,
.tel {
  width: 50%;
}

.copy-right {
  font-size: 0.75rem;
  padding-bottom: 12px;
}


@media(max-width:800px) {
  
  .header-nav-pc {
    display: none;
  }

  .hamburger-menu-sp,
  .toggle_btn,
  .mask {
    display: block;
  }
  
  .hamburger-menu-sp {
    width: 100%;
    padding-top: 100px;
    text-align: center;
    position: fixed;
    top: -100%;
    left: 0;
    opacity: 0;
    overflow-y: auto;
    transition: 0.5s;
    z-index: 40;
  }
  .open .hamburger-menu-sp {
    top: 0;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
  }

  .hamburger-menu-sp ul {
    width: 100%;
  }

  .hamburger-menu-sp ul li a{
    display: block;
    margin: 5px auto;
    padding: 25px;
    text-shadow: 2px 2px 5px #ffffff;
  }

  .hamburger-menu-sp ul li a:hover {
    background-color: #212121;
    color: #FFF;
  }

  .toggle_btn {
    width: 50px;
    height: 40px;
    cursor: pointer;
    position: fixed;
    top: 4vh;
    right: 18px;
    transition: ease 0.5s;
    z-index: 50;
  }
  .toggle_btn span {
    width: 50px;
    height: 2px;
    background-color: #212121;
    border-radius: 4px;
    display: block;
    position: absolute;
    left: 0;
    transition: ease 0.5s;
  }
  .toggle_btn span:nth-child(1) {
    top: 5px;
  }
  .toggle_btn span:nth-child(2) {
    top: 19px;
  }
  .toggle_btn span:nth-child(3) {
    bottom: 5px;
  }
  .open .toggle_btn span {
    background-color: #fff;
  }
  .open .toggle_btn span:nth-child(1) {
    transform: translateY(14px) rotate(-45deg);
  }
  .open .toggle_btn span:nth-child(2) {
    opacity: 0;
  }
  .open .toggle_btn span:nth-child(3) {
    transform: translateY(-13px) rotate(45deg);
  }
  .mask {
    display: none;
    transition: 0.5s;
  }
  .open .mask {
    width: 100%;
    height: 100%;
    background-color: #326b80;
    cursor: pointer;
    display: block;
    opacity: 0.9;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }

}

@media(max-width:767px) {


  body {
    font-size: 0.8rem;
  }

.toggle_btn {
  width: 30px;
  height: 30px;
  top: 2.5vh;
}
.toggle_btn span {
  width: 30px;
}
.toggle_btn span:nth-child(1) {
  top: 5px;
}
.toggle_btn span:nth-child(2) {
  top: 14px;
}
.toggle_btn span:nth-child(3) {
  bottom: 5px;
}
.open .toggle_btn span:nth-child(1) {
  transform: translateY(9px) rotate(-45deg);
}
.open .toggle_btn span:nth-child(2) {
  opacity: 0;
}
.open .toggle_btn span:nth-child(3) {
  transform: translateY(-9px) rotate(45deg);
}

  header {
    height: 10vh;
  }

  .contents {
    top: 45vh;
  }

  .wrapper {
    padding: 0 2% 40px;
  }

  .section-title {
    margin: 30px 0 40px;
  }

  h2 {
    font-size: 1.4rem;
  }

  .cp-1,
  .cp-2 {
    font-size: 1rem;
  }

  .news-background {
    display: none;
}

  .news-contents {
    flex-direction: column;
    gap: 20px;
  }

  .news-contents li a{
    display: flex;
    gap: 15px;
  }

  .news-img {
    width:  50%;
    height: 120px;
  }

  .view-more {
    color: #212121;
  }

  .view-more-btn::before,
  .view-more-btn::after {
  background: #212121;
  }

  .introduction-right {
    padding-top: 28%;
  }

  .introduction {
    height: 15vh;
    gap: 20px;
  }
  
  .introduction p {
    font-size: 0.9rem;
    padding: 1em 5px;
  }

  .faq-title {
    font-size: 0.8rem;
  }

  .faq-q {
    bottom: 0;
    top: 0px;
  }

  .footer-nav {
    flex-direction: column;
    gap: 5px;
  }


  .footer-logo {
    width: 60px;
  }

  .footer-text {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1em;
  }

  .address,
  .tel {
    width: 100%;
}
}
